<h1><%= @book.title %></h1>

<ul>
  <li>Author: <%= @book.author %></li>
  <li>Published: <%= @book.year %></li>
  <li>Description: <%= @book.description %></li>
  <li>Category: <%= @book.category %></li>
</ul>
