<!DOCTYPE html>
<html>
<head>
  <title>Bibiophile Book Club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav-bar">
    <ul class="nav">
      <li id="title">Bibliophile Book Club</li>
      <div class="list">
        <li><%= link_to 'Add a New Book', new_book_path %></li>
        <li> | </li>
        <li><%= link_to 'Current Book List', books_path %></li>
      </div>
    </ul>
  </div>

<p><%= notice %></p>
<p><%= alert %></p>

<%= yield %>

</body>
</html>
